*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    font-family: Ariel,"Helvetica Neue",Arial, Helvetica, sans-serif;
    font-size:17px;
    color:#926239;
    line-height:1.6;
}
#showcase{
    background-image:url(pexels2.jpg);
    background-color:white;
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
#showcase h1{
    font-size:50px;
    line-height:1.2;
}
#showcase p{
    font-size:20px;
}
#showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
}
#showcase .button:hover{
    background:#926239;
    color:#fff;
}
#section-a{
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
}
#section-b{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
}
#section-c{
    display:flex;
}
#section-c .box1, #section-c .box3{
  background:#926239;
  color:#fff;
  border:5px solid blue;
  border-radius:5px 5px 5px 5px;
}
#section-c .box2{
    box-shadow: 5px 10px #888888 inset;
}
#section-c div{
    padding:20px;
}
#section-c .box1:hover{
    border:5px solid #c2b3a6;
}
#section-c .box3:hover{
    border:5px solid #c2b3a6;
}
.footer{
    color:white;
    margin-top:9px;
    background-color:#926239;
    font-family:Italic;
}